
	body{position: relative; width: 100%;}
	.headerbg,.contentup,.contentdown{width:100%; background:white ;}
	#sec2,#sec3,#sec4,#sec5{background:white ;margin: auto; height: 600px;}
	
	.nav_box{position: absolute; top:0px}
	.nav_box table{padding-top: 0px;}
	#sec7{height: 400px;}
	#sec2{margin-top: 680px;}
	#sec1{width: 100%;  height: 835px;position: absolute; top:0px;background:white ;}
	#sec1 .swiper-container{margin-top:120px;}#sec8{height: 750px;}
	
	#sec6 .banner-container{margin-top:50px;}
	#sec6 h5{font-size:2em; width: 100%; text-align: center;margin-top: 15px;}
		/* <!--swiper--> */
		html{height: 100%;}
		
		body{height: 100%;font-family: 'Roboto Condensed', sans-serif; background-size:cover;	background-repeat:no-repeat ; background-attachment: fixed; background-image:url("img/menu_bottomfixbanner.png") ;}
		
		.swiper-container {
      width: 100%; height: 715px;
     
	  top:60px ; position: relative;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
		swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color:#000;
      opacity: 1;
      background: rgba(0,0,0,0.2);
    }
	
	.swiper-pagination-bullet-active {
      color:#fff;
      background: #007aff;
    }
		
		
	
	/* swiper */
	
	/*sliderbanner*/
	
	.banner-container{
		position: relative;
		width: 100%;
		height: 230px;
		margin: auto;
		overflow: hidden;
		}
		
		.banner-container{
		position: relative;
		width: 100%;
		height: 230px;
		margin: auto;
		overflow: hidden;
		}
		
		
		
		
		
		.banner-wrap{width: 4600px;position: absolute;}
		
		
		
		.banner{float: left;}
		
		a.prev,a.next{position: absolute;display: block;z-index:999; width: 100px;height: 230px;background: rgba(0,0,0,.7);}
		a.prev{left: 0;}
		a.next{right: 0;}
		.banner img{width: 230px;height: 230px;}
		
	
	/* <!--sliderbanner--> */
	
/* snsbanner */	
	#sec8{position: relative; overflow: hidden;}
	#sec8 .swiper-container{top:0}


.snstop{height: 300px;width: 100%;	}
.snstop img{width: 35%;height: 70%;margin-left:20%}
 #sec8 .slider_wrap{width: 1000%;height: 900px;
	overflow: hidden;margin-left:-20%; }
	
	#sec8 .slider{float: left; width:2% }
	
	#sec8 .slider img{width: 100%;height: 50%; vertical-align:top;}
	
	
	
	
	
	#sec8 .prev{width: 50px;
	height: 10%;
	
	position: absolute;
	left: 62%; top: 25%; 
	cursor: pointer;}
	
	#sec8 .next{width: 50px;height: 10%;position: absolute;left: 68%; top: 25%; z-index:999; cursor: pointer;}
	
	


/* snsbanner_end */


.fifa{background-size: cover;	background-position:center top ;width: 100%;height: 715px;}
.fifa:nth-child(1){background-image:url("img/menu_img_banner1.jpg") ;}
.fifa:nth-child(2){background-image:url("https://i.pinimg.com/originals/96/b7/a7/96b7a7bc04af5a1c88cfbf7e3fd9802e.jpg") ;}
.fifa:nth-child(3){background-image:url("https://www.tlj.co.kr:7008/static/images/main/img_main2.jpg") ;}

	

#sec2 .ani:nth-child(1){color:#51400a;}
#sec2 .ani:nth-child(2){color:#fb2951;}
#sec3 .ani:nth-child(1){color:#91a60c;}
#sec3 .ani:nth-child(2){color:#cb8529;}
#sec4 .ani:nth-child(1){color:#fd6e6e;}
#sec4 .ani:nth-child(2){color:#935f5f;}
#sec5 .ani:nth-child(1){color:#fd6e6e;}
#sec5 .ani:nth-child(2){color:#fd6e6e;}



.ani h2{font-size: 3em; font-weight: bold}
.ani p{font-size: 2em; font-weight: regular}
.rbg p,.rbg h2{text-align: right;}
#sec6 .banner{overflow: hidden;}
#sec6 .banner img:hover{transform:scale(1.1); transition:all .5s}

/* ani */


#sec2,#sec3,#sec4,#sec5{overflow: hidden; width: 100%;}
.ani{float: left; width: 50%; height: 100%; overflow: hidden;position: relative}

.blue{background-color: #c8d5de; }
.white{background-color: white;}

.blue>img,.white>img{margin-top: 15%;}
.blue:nth-child(1)>img{margin-top: 20%;}

#sec7 {position: relative;}
 #sec7 img{height: 20%; position: absolute; left: 50%; top:50%}
 #sec7 img:nth-child(1){transform:translate(-70%, -80%)}
 #sec7 img:nth-child(2){transform:translate(-10%, 20%)}

 .ani p,.ani h2,.ani img{position: absolute;}

.rbg p,.rbg h2,.rbg img{right: 10%; top:10%;}
.rbg h2{top:30%}

.lbg p,.lbg h2,.lbg img{left: 10%; top:10%;}
.lbg h2{top:30%}



/* ani -end*/
.footerbg{background-color: #e0e0e0;width: 100%; border-top:1px solid gray;}
.footer{width: 80%; margin:auto;	height: 545px;position: relative;}
.footer span{padding: 8px;text-align: center}
.footer ul.fbot{position: absolute; bottom: 10%;width: 100%; overflow: hidden;}
.fbot li{float: left;}
a{display: block; text-decoration: none; color:#6f0707;}
.footer a:hover{color:#ff2626;text-decoration: none;}

form{position: absolute;bottom:10%; right:0%;width: 15%;height: 8%;}
input{text-align:center;width: 100%;height: 100%; font-size:1.4em; border:1px solid #757575;  }


.level2{position: absolute;bottom:10%; right:0%;width: 15%; box-shadow: 5px 10px 20px gray; }
.level2 li{background-color:#f7f0db;}
.level2 li a{height: 40px; }
.level2 li a{background-image:url("https://www.tlj.co.kr:7008/static/images/common/common.png");}.level2 li:nth-child(1) a{background-position:-595px -266px;}
.level2 li:nth-child(1) a{background-position:-595px -266px;}
.level2 li:nth-child(2) a{background-position:-595px -266px;}
.level2 li:nth-child(3) a{background-position:-595px -266px;}
.level2 li:nth-child(4) a{background-position:-595px -266px;}
.level2 li:nth-child(5) a{background-position:-595px -266px;}
.level2 li:nth-child(6) a{background-position:-595px -266px;}
.level2 li:nth-child(7) a{background-position:-595px -266px;}
.level2 li:nth-child(8) a{background-position:-595px -266px;}
.level2 li:nth-child(9) a{background-position:-595px -266px;}
.level2 li:nth-child(10) a{background-position:-595px -266px;}
.level2 li:nth-child(11) a{background-position:-595px -266px;}
.level2 li:nth-child(12) a{background-position:-595px -266px;}
